
.navss{
    justify-content: end;
}

.loginName{
    display: flex;
    align-items: center;
    margin-right: 25px;
    text-align: center;
    padding: 5px 15px;
    background-color: #4e73df;
    border-radius: 0.5rem;
}

.userName{
    margin-bottom: 0;
    color: white;
    margin-left: 12px;
    font-size: 15px;
}
.navIc{
    color: white;
}

.logStatus{
    width: 10px;
    height: 10px;
    margin-left: 10px;
    background-color: rgb(175, 255, 16);
    border-radius: 50%;
}

.logOutbtn{
    border: none;
    background-color:#4e73df;
    border-radius: 0.5rem;
    padding: 5px 15px;
    color: white;
}

.logOutbtn:hover{
    cursor: pointer;
    background-color: #2d5ae2;
}

@media (max-width:990px){
    .loginName{
        width: 110px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}